[AES-128-CBC]
scheduler=bandwidth
bandwidth=8Gbps

[MD5]
scheduler=ratio
ratio=60%

[ZLIB-DEFLATE]
scheduler=bandwidth
bandwidth=3072

[ZLIB-INFLATE]
scheduler=bandwidth
bandwidth=8Gbps

[RSA]
scheduler=parallel
parallel=1


[SM2]
scheduler=ratio
ratio=100%

